:root {
    --primary-color: rgb(154, 244, 244);
    --secondary-color: rgb(18, 229, 240);
    --text-color: rgb(255, 255, 255);
    --font: 'Manrope', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--font);
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    background-color: var(--primary-color);
}

nav {
    position: fixed;
    width: min(50rem, 100%);
    z-index: 1;
}

nav header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--secondary-color);
    border-bottom: solid 1px var(--text-color);
}

nav header a {
    margin-left: 1rem;
    color: var(--text-color);
    font-size: 1.2rem;
}

.menu-burguer {
    margin-right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

.menu-close {
    margin-right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.logo img {
    z-index: 5;
    margin-top: 3rem;
    width: 100%;
}

.menu-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-mobile ul li {
    margin: 1rem;
    display: none;
}

.menu-mobile ul li a {
    font-family: var(--font);
    margin: 3rem;
}

.menu-mobile .links {
    display: none;
}

/*=========menu-expanded===========*/
body.menu-expanded {
    overflow: hidden;
    background-color: var(--primary-color);
}

body.menu-expanded> :not(nav) {
    visibility: hidden;
}
body.menu-expanded .menu-internal{
    display: flex;
    justify-content: left;
} 
body.menu-expanded .menu-mobile .links {
    display: block;
    align-content: center;
    text-align: center;
    justify-content: center;
}

body.menu-expanded .menu-mobile .links svg {
    margin: 1rem;
}
.menu-internal {
    transform: translateY(100%);
}
body.menu-expanded .menu-internal {
    
    background: var(--secondary-color);
    width: 100%;
    height: 100vh;
    transition: transform 300ms;
    transform: translateY(0);
}
nav .links svg{
    transform: translateY(100%);
}
body.menu-expanded nav .links svg{
    transition: transform 300ms;
    transform: translateY(0);
}
body.menu-expanded .menu-mobile {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .menu-mobile ul li {
    display: block;
    
}

body.menu-expanded .menu-mobile ul li a {
    color: var(--text-color);
    font-size: 1.1rem;
}

body.menu-expanded .menu-burguer {
    display: none;
}

body.menu-expanded .menu-close {
    display: block;
}


header img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    margin-bottom: 3rem;
}
.img-back {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: contain;
}
.card a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 30vh;
    border-radius: 0.5rem;
    margin: 0.4rem;
    box-shadow: .5rem .5rem .5rem rgb(80, 79, 79);
    transition: transform 0.3s;
    
}

.card a:hover {
    transform: scale(1.1);
    border: solid var(--text-color) 2px;
}

.card a p {
    color: var(--text-color);
    position: absolute;
    font-size: 1.5rem;
    text-shadow: .1rem .1rem .1rem rgb(44, 44, 44);
    margin-bottom: 1rem;
}
.menu-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-page h1 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.1rem;
    color: #F6B0D0;
    text-shadow: .1rem .1rem .1rem rgb(56, 56, 56);
    padding-top: 4rem;
}
.menu-page h3{
    color: rgb(16, 87, 94);
}
.menu-page .tamanho{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-top: 1rem;
    color: rgb(16, 87, 94);
    gap: 1rem;
    width: 100%;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.055);
    border: solid 1px var(--text-color);
}
 .sexo{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-top: .2rem;
    margin-bottom: 1rem;
    color: rgb(16, 87, 94);
    gap: 1rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.055);
    border: solid 1px var(--text-color);
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    gap: .5rem;
    border: solid 0.1rem white;
    border-radius: 2rem;
    color: var(--text-color);
    background-color: rgb(16, 87, 94);
    font-size: 1rem;
    padding: .5rem 1rem .5rem 1rem;
    margin-top: 3rem;
}
.btn:hover{
    background-color: var(--secondary-color);
    color: rgb(16, 87, 94);
    border: solid 0.1rem rgb(16, 87, 94);
}
.btn:hover svg  path {
    fill: rgb(16, 87, 94);
}
.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(230, 243, 243);
    border-radius: 1rem;
}

.sobre h2 {
    margin-bottom: 1rem;
}

.sobre img {
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, .5));
    width: 100%;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding:1rem;
    border-top: var(--text-color) solid 1px;
}

.rodape h1 {
    width: 100%;
    color: var(--text-color);
    text-align: center;
    text-shadow: .1rem .1rem .1rem black;
    
}

.rodape p {
    display: flex;
    color: rgb(16, 87, 94);
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
}
.rodape p svg{
    filter: drop-shadow(3px 5px 1px rgba(0, 0, 0, .8));
}
.links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    filter: drop-shadow(3px 5px 1px rgba(0, 0, 0, .8));
}

.rodape button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}